extends layout

block content
    h1 #{title}
    form(method = 'POST',action="/articles/add")
        #form-group
            label Title:
            input.form-control(type = 'text',name = 'title')
        #form-group
            label Body:
            input.form-control(type = 'text',name = 'body')
        input.btn.btn-primray(type='submit',value="Submit")